@using System.Collections;

@model Hashtable

@{
    ViewBag.Title = "CompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompanyList</h2>

<table class="table table-striped">
    <thead>
        <tr>
           
            <th>公司</th>
        </tr>
    </thead>

    @{int Count = 1; }

    <tbody>

        @foreach (var Company in Model.Values)
        {
            <tr>

                <td>@Company.ToString()</td>
            </tr>
            Count++;

        }
    </tbody>
</table>